#header {
	overflow: hidden;
	/*background-color: #f1f1f1;*/
	font-family: Verdana, Geneva, sans-serif;
	/*font-weight: bold;*/
}

#logo {
	/*margin-left: 10%;*/
	padding: 10px;
}

#headerLinks a {
	position: relative;
	text-align: center;
	top: 50px;
	padding: 20px;
	color: white;
	border: 3px solid white;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 40px;
	text-decoration: none;
}

#headerLinks a:hover {
	color: rgba(0,0,0,0.4);
	background: rgb(255,255,255);
}

body {
	font-family: Verdana, Geneva, sans-serif;
	/* height: 400%; */
	background-image: url("../images/background.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.formlink {
	background-color: rgba(90, 146, 223, 0.8);
	/*background-color: rgba(0,0,0,0.4);*/
	/*display: flex;
  	justify-content: left;*/

	/*top: 100%;*/
	/*transform: translate(50%, 50%);*/
	float: center;
	color: white;
	outline: none;
	/*margin: auto;*/
	border: 1px solid white;
	border-radius: 30px 30px 0px 0px;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 15%;
	left: 100%;
}

.formlink:hover {
	/*background-color: #777;*/
	background-color: rgba(0,0,0,0.6);
}

#inputfield {
	/*background-color: rgba(255, 255, 255, 0);*/
	/*color: rgba(0,0,0,0.6);*/
	font-size: 15px;
	border: 2px solid lightgrey;
	border-radius: 5px;
	outline: none;
	width: 100%;
	height: 40px;
	padding: 12px 20px;
  	margin: 8px 0px 30px 0px;
  	/*font-size*/
}

/*form input[type=text]:focus, input[type=password]:focus {*/
#inputfield:focus {
	border: 2px solid dodgerblue;
	/*color: black;*/
	/*border-color: rgba(90, 146, 223, 0.8);*/
}

/*form button, input[type="button"], input[type="submit"] {*/
#submitbutton {
	width: 30%;
	padding: 10px;
	font-size: 17px;
	border-radius: 30px;
	float: center;
	/*display: flex;*/
  	/*justify-content: center;*/
	text-align: center;
	outline: none;
	color: white;
	/*border-radius: 5px;*/
	cursor: pointer;
	background-color: rgb(90, 146, 223);
}

#login {
	background-color: rgba(255, 255, 255, 0.8);
	/*background-color: rgb(255, 255, 255);*/
}
#register {
	background-color: rgba(255, 255, 255, 0.8);
	/*background-color: rgb(255, 255, 255);*/
}
