.wrap {
	min-width: 600px;
	width: 80%;
	margin: auto;
	background-color: #FF5733;
	overflow: hidden;
	font-family: sans-serif;
}

.content {
	position: relative;
	top: 100px;
	height: 600px;
	background-color: #e3e3e3;
}

.bigtext {
	font-family: sans-serif;
	color: white;
	font-size: 60px;
	position: relative;
	left: 10px;
}

.smalltext {
	position: relative;
	font-family: sans-serif;
	color: white;
	font-size: 18px;
}

h1 {
	float: left;
	bottom: 30px;
}

ul a:hover {
	color: black;
}

li {
	display: inline;
	float: right;
	padding-right: 10px;
}
